// tasksBody class starts

.tasksBody {
  // border: solid green;
  height: 78vh;
  margin: 3rem 0 0 0;
  font-size: .8rem;
  color: #444;
  overflow: hidden;
}

.addTask {
    border: none;
    width: 150px;
    height: 35px;
    font-weight: 600;
    background: #222;
    color: #eee;
    cursor: pointer;
  }

.taskCards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 31.5%;
  // gap: 10%;
  padding: 2rem 1rem 2rem 1rem;
  overflow-x: scroll;
  // border: solid green;
  gap: 1rem;
}

.tasksBottom {
  margin: 3rem 0 0 0;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 5%;
  max-height: 68%;
  overflow: hidden;
}

// find a way for the bottom one to show if a number of them are clicked
.taskBars {
  overflow: scroll;
  // background: red;
  height: 60%;
  padding: 0 1rem 10rem 0;
  margin-top: 1rem;
}



// statistics class starts

.statistics {
  // background: green;
  max-height: 60%;
  overflow: hidden;

  .stats {
    margin: 2rem 0 0 0;
    // border: solid red;
    height: 400px;
 
    .statCards {
      // background: blue;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-column-gap: 5%;
      height: 30%;
      max-height: 30%;

      .statWidget {
        border:solid rgba(255,69,0,.5) 1px;
        border-radius: 10px;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // height: 55%;
        padding:1.3rem .5rem;
      }
    }

    .ad {
      background: #D5d5d5;
      height: 350px;
      margin: 1.5rem 0;
      border-radius: 16px;
    }
  }
}

