.taskCard {
  border: solid #ddd 1px;
  // border-radius: 10px;
  border-radius: 3px;
  height: 18vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: grab;
  user-select: none;

  &:hover {
    // border-left: solid orangered 5px;
    background: #202020;
    // color: rgba(255, 109, 30, 0.9);
    color: #999;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.taskBar {
  border: none;
  border: solid rgba(255, 69, 0, 0.4) 1px;
  // border-top: none;
  border-radius: 3px;
  height: 8vh;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  // position: relative;
  transition: 0.1s ease;
  cursor: pointer;
  color: #555;

  &:hover {
    transform: translate(8px, 5px);
    box-shadow: rgba(259, 69, 0, 0.3) 4px 4px 7px;
    border: none;
    border-left: solid orangered 3px;
    border-right: solid orangered 1px;
    // background: rgba(250, 59, 0, 0.75);
    background: rgba(255, 255, 255, 0.5);
    color: #333;
  }

  // background: rgba(250, 69, 0, .1);

  .options {
    // background: blue;
    height: 30%;
    display: flex;
    justify-content: space-around;

    span {
      font-size: 0rem;
    }
  }

  &Selected {
    // border: solid #ddd 1px;
    border-left: solid orangered 5px;
    border-bottom: solid rgba(255, 69, 0, 0.6) 1px;
    border-top: none;
    border-radius: 3px;
    height: 12vh;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    position: relative;
    transition: 0.1s ease;
    cursor: pointer;
    transform: translate(5px, -5px);
    box-shadow: rgba(255, 69, 0, 0.4) 0px 4px 12px;

    .selected {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 9px;
      // display: inline-block;
      border: solid orangered 1px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.editMode {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur;
        height: 88%;
        top: 10vh;
        width: 80%;
        position: absolute;
      }

      &:after {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        background: rgba(255, 69, 0, 0.7);
        border-radius: 50%;
      }
    }

    .options {
      // background: blue;
      // height: 30%
      display: flex;
      justify-content: space-around;

      span {
        font-size: 0.9rem;
        // width: 4rem;
        padding: 0.3rem 0.6rem;
        border-radius: 2px;
        transition: 0.4s ease;
        // border: solid red;
        z-index: 200;

        &:hover {
          background: rgba(255, 69, 0, 0.9);
          transition: 0.4s ease;
        }
      }
    }
  }

  .unSelected {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 10px;
    // display: inline-block;
    // border: solid #bbb 1px;
    border-radius: 50%;
    background: white;

    &:after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}
